* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
}
i,
svg {
  pointer-events: none;
}
.fa-solid {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
.header {
  height: 5rem;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
  padding-top: 1rem;
  font-weight: 700;
  font-size: large;
}

.top-banner {
  height: 3rem;
  width: 100%;
  background-color: rgb(64, 67, 75);
}

.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.25rem;
  cursor: pointer;
  border-radius: 15%;
}
.kick-pad:hover,
.snare-pad:hover,
.hihat-pad:hover,
.tom-pad:hover {
  background: rgb(140, 140, 140);
}
.kick-pad {
  background: rgb(90, 90, 90);
}
.snare-pad {
  background: rgb(90, 90, 90);
}
.hihat-pad {
  background: rgb(90, 90, 90);
}
.tom-pad {
  background: rgb(90, 90, 90);
}
.kick-pad.active {
  background: rgb(13, 199, 91);
}
.snare-pad.active {
  background: rgb(255, 5, 74);
}
.hihat-pad.active {
  background: rgb(255, 115, 23);
}
.tom-pad.active {
  background: rgb(59, 197, 231);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.hihat-track,
.snare-track,
.kick-track,
.tom-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 0rem;
}
.kick,
.snare,
.hihat,
.tom {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
  color: rgb(255, 255, 255);
}
.controls button {
  padding: 0.5rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 15%;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 5%;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 70, 70);
  background-image: none;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 600;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  border-radius: 0.5em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: rgb(90, 90, 90);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: rgb(251, 255, 0);
}
.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(90, 90, 90);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  color: white;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
